.todo{

  margin-bottom:15px;
  
  input{
    width:90%;
    padding:5px 10px;
    border:none;
    box-shadow:none;
    outline:none;
    border-bottom:2px solid rgba(0,0,0,0);

    &.editing{
      border-bottom-color:black;
    }
  }
}

.textField{
  position:relative;
  i{
    display:block;
    position:absolute;
    right:10px;
    &:after{
      display:block;
      position:absolute;
      left:0;
      top:0;
      width:100%;
      height:30px;
      font-family:"FontAwesome";
      content:"\f00d";
    }

    &:focus, &:hover{
      :after{
        display:block;
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:30px;
        font-family:"FontAwesome";
        content:"\f00d";
      }
    }
  }
}

.fa-check.undo{
  text-decoration:line-through;
}
