textarea{
  width:100%;
  min-height:100px;
  outline:none;
  padding:10px; 
}
input[type="submit"]{
  width:100%;
  padding:5px;
  color:#111;
  border:2px solid #111;
  background:rgba(0,0,0,0);
  box-shadow:inset 0 0 0 #111;
  transition:box-shadow .3s ease-in, color .3s .2s ease-in;

  &:focus,&:hover{
    box-shadow:inset 0 -50px 0 #111;
    color:white;
  }
}
